<dialog
  id="add-dialog"
  class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-gray-100 dark:bg-gray-800 p-6 rounded-lg shadow-lg w-96"
>
  <div>
    <h1 class="text-3xl font-bold text-black dark:text-white mb-3">Add Endpoint</h1>
    <form id="addEndpointForm" action="/api/endpoints" method="post">
      <div>
        <label
          for="addEndpointName"
          class="font-medium text-sm text-gray-800 dark:text-gray-200 block"
        >
          Endpoint Name
        </label>
        <div class="pb-3">
          <input
            id="addEndpointName"
            type="text"
            name="addEndpointName"
            required
            class="w-full bg-white dark:bg-gray-700 text-black dark:text-white border border-gray-300 dark:border-gray-500 rounded-md px-1.5 py-1"
          />
        </div>
      </div>
      <div>
        <label
          for="addEndpointUrl"
          class="font-medium text-sm text-gray-800 dark:text-gray-200 block"
        >
          Endpoint URL
        </label>
        <div class="pb-5">
          <input
            id="addEndpointUrl"
            type="url"
            name="addEndpointUrl"
            required
            class="w-full bg-white dark:bg-gray-700 text-black dark:text-white border border-gray-300 dark:border-gray-500 rounded-md px-1.5 py-1"
          />
        </div>
      </div>

      <button
        class="border border-black dark:border-white text-black dark:text-white px-2 py-1 rounded"
        type="submit"
      >
        Create
      </button>

      <button
        id="addCancelButton"
        class="border border-black dark:border-white text-black dark:text-white px-2 py-1 rounded ml-2"
        type="button"
      >
        Cancel
      </button>

      <p id="addError" class="text-red-700 dark:text-red-500 font-bold pt-2"></p>
    </form>
  </div>
</dialog>
