<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/output.css" />
    <title>PingPong</title>
  </head>
  <body class="bg-white dark:bg-black">
    <div class="pl-1 pr-1">
      <h1 class="header">PingPong</h1>
      <table class="table-auto border-collapse">
        <thead>
          <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for endpoint in endpoints %}
          <tr>
            <td>
              <a href="/endpoint/{{ endpoint.id }}"> {{ endpoint.name }} </a>
            </td>
            <td>
              <a href="{{ endpoint.url }}" target="_blank"
                >{{ endpoint.url }}</a
              >
            </td>
            <td>
              <div class="flex items-center gap-2">
                {% if endpoint.is_active %}
                <span class="status-dot active"></span>
                <span>Active</span>
                {% else %}
                <span class="status-dot inactive"></span>
                <span>Active</span>
                {% endif %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
